<footer class="footer">
  <div class="footer-content">
    <div>
      <h3>JobPortal</h3>
      <p>Find the right job and build your career.</p>
    </div>

    <div class="footer-links">
      <a routerLink="/">Home</a>
      <a routerLink="/jobs">Jobs</a>
      <a routerLink="/my-applications">Applications</a>
      <a routerLink="/profile">Profile</a>
      <a routerLink="/recruiter-dashboard">Recruiter</a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© {{ currentYear }} JobPortal. All rights reserved.</p>
  </div>
</footer>